:root{
  --headerW: 1050px;

  /* 내부박스로 사용될 색 */
  /* background-color: #f7f7f7; */
}

.App {
  text-align: center;
}

.App-logo {
 
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}
/*header*/
.header{
  width: var(--headerW);
  position: relative;
  height: 130px;
  margin: 0px auto;
  font-family: Noto Sans CJK KR mid;
  color: #011627;
  text-align: center;
}
.headerBar{
  width: 100%;
  background-color: #dfe3ee;
}
.loginBox{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 20;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
}
.loginBox a{
  margin-left: 5px;
}
.mainTitle{
  height: 100px;
  padding-top: 32px;
  font-size: 29px;
}
.categoryNav{
  display: flex;
  justify-content: space-around;
  height: 35px;
}

.categoryNav div{
  margin : 0px auto;
  text-align: center;
}

.eCategory{
  display: flex;
  justify-content: space-around;
}

.eCategory a{
  width: 100px;
  margin-left: 1%;
  margin-right: 1%;
}
.categotyImg{
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-bottom : 3px;
}
/*header*/



/*navbar 커스텀*/
.navbar{
  background-color:#011627 !important;
 }
.navLink{
  font-size:13px;
}
/*navbar 커스텀 종료*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*footer css start*/

.fMain{
  width: 100%;
  border-top: 1px solid #011627;
  font-family: Noto Sans CJK KR mid;
}
.fGroup{
  width: 1050px;

  margin : 0px auto;
}
.fTitle{

  padding-top: 32px;
  font-size: 29px;
}
.fDivGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.fStack{
margin-left: 120px;
margin-right: 15px;
margin-top: 15px;

}
.dlStack dl { margin:0;}
.dlStack dt {  margin-left: 20px;  margin-bottom:10px; margin-top:10px;float: left; clear: left;}
.dlStack dd {margin-bottom:10px; margin-top:12px; float: left; margin-left: 10px;}

.dlInfo{
  display: flex;
  justify-content: center;
  height: 70px;
  width: 1050px;
}

.bar{
  width: 5px;
  height: 50px;
  margin: 0px 20px;
  background-color:#011627;
}
/*footer css end*/